/*need this so navbar works*/
body
{
    margin: 2px;
    padding: 0px;
    background-image: url("../images/background.png");
}

.logo-container
{
    justify-self: center;
    width: 80%;
    height: 100%;
    margin: 5vh 20px;
}

.logo-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.login-container
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: 5px solid black;
    border-radius: 10px;
    width: 80%;
    height: 65vh;
    background-color: lawngreen;
}

.login-text-container
{
    display: flex;
    width: 50%;
    height: 20%;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

.login-form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    height: 60%;
    justify-self: center;
    align-self: center;
    justify-content: space-around;
}

.login-form input
{
    align-self: center;
    height: 15%;
    width: 90%;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
}

.login-form button
{
    height: 15%;
    width: 50%;
    align-self: center;
    font-size: 1.5rem;
    background-color: rgb(121, 163, 105);
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.alt-text-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 2rem;
    gap: 5px;
}

/*display block = takes up whole line, ... can be centred with margin auto*/